<div class="tabs-container">
    <div class="tabs-list">
        <div *ngFor="let tab of tabs; let i = index" class="tab-item" [class.active]="tab.active"
            (click)="onTabClick(i, tab)">
            <span class="delete-icon" (click)="onDeleteTab($event, tab)">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                </svg>
            </span>
            <span class="tab-label">{{ tab.label }}</span>
        </div>
    </div>

    <button class="add-btn" (click)="onAddNew()">
        + Add Contact
    </button>
</div>